.section-header{
     text-align: center;
     margin-top: 80px;
     font-family:Arial, Helvetica, sans-serif;
}

.card-container {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 40px;
     margin-top: 80px !important;
}

@media only screen and (max-width:688px) {
     .card-container {
          grid-template-columns: repeat(1, 1fr);
     }
}

@media only screen and (min-width:689px) and (max-width: 991px) {
     .card-container {
          grid-template-columns: repeat(2, 1fr);
     }
}